/* static/css/style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #2ecc71;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    color: #3498db;
}

.notices-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2ecc71;
    margin-bottom: 20px;
}

h3 {
    color: #3498db;
    margin-top: 20px;
}

/* Add your additional styling as needed */
