{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
</head>
<body>
    <form method="post" >
        {% csrf_token %}
        <div class="form_control">
            {% render_field form.username class="form_control" placholder="Username" %}

            {% render_field form.password class="form_control" placholder="Password"%}

        </div>

        <button type="submit">Login</button>


    </form>
</body>
</html>